// Colors

/* Dark */
$celo-background--dark: #2E3338;
$celo-font: monospace;

// Sizes
$spacer: 2rem;
$page-frame: .75rem;

$break-point--small: 640px;
$break-point--medium: 860px;
$break-point--large: 1140px;
$break-point--huge: 1400px;
$brand-border-width: 1px;

$border-radius: .2rem;

$narrowWidth: 35rem;