@import '../styles/variables';

.addressRow {
  display: flex;
}

.addressRow:hover {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.addressHash {
  flex-grow: 2;
}

.addressBalance {
  flex-grow: 1;
  text-align: right;
}