@import '../styles/variables';

.nav {
    margin-top: 1em;
}

.navRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1.4em 0;
    font-size: 1.1em;
    a, .navItem {
        min-width: 200px;
        max-width: 200px;
        flex: 1 1;
    }
}
