@import '../styles/variables';

.transactionRow {
  margin: 1rem 0;
}

.transactionRow:hover {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.transactionBody {
  margin: 0.5rem 0.5rem;
}