@import '../styles/variables';

.transactionRow {
  margin: 2rem 0;
  p {
    margin-block-start: 0.5rem;
  }
}

.transactionItem {
  flex-grow: 1;

}

.transactionBalance {
  flex-grow: 1;
  text-align: right;
}