@import '../styles/variables';

.container {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dotGreen,
.dotRed,
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em;
}

.dotGreen {
    background-color: green;
}

.dotRed {
    background-color: red;
}