@import '../styles/variables';

.validatorRow {
  margin: 1rem 0;
}

.validatorRow:hover {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.validatorBody {
  margin: 0.5rem 0.5rem;
  overflow: hidden;
}