@import './styles/variables';

.app {
    height: 100%;
    max-width: $break-point--medium;
    margin: 0 auto;

    display: flex;
    min-height: calc(100vh - #{$page-frame * 2});
    flex-direction: column;
    font-family: $celo-font;

    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}

.nav {
    display: flex;
    padding: 1.4em;
    font-size: 1.2em;
    a {
        flex: 1;
    }
}

.main {
    flex: 1;
}
